.main__section--spec {
    @include flex (row, center, center);
    padding: 100px 21%;
    gap: 0 30px;
    
    .section__container--additional {
        @include flex (row, space-between, center);
        background-color: $primary_color;
        padding: 35px 45px 35px 40px;
        width: calc(100%/2);
        
        .section__container--mod {
            .section__container__heading {
                @include font_style ($add_main-color, 700, 1.125rem);
            }
            .section__container__text {
                @include font_style ($add_main-color, 400, 0.875rem);
                padding: 25px 0;
            }
            .section__container__btn {
                @include btn ($add_main-color, $primary_color, $add_main-color);
                padding: 9px 0;
            }
            .section__container__btn:hover {
                @include btn ($add_main-color, $add_main-color, $additional_color);
                padding: 9px 0;
                transition: all 1s;
                cursor: pointer;
            }
        }
        .section__container--mod input {
            display: block;
            border-radius: 30px;
            padding: 9px 0 9px 11%;
        }
    }
}